In [1]:
from preprocess.load_data.data_loader import load_hotel_reserve
import pandas as pd

In [2]:
customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

In [4]:
# 下の行から本書スタート
# reserve_tb['customer_id'].unique()は、重複を排除したcustomer_idを返す
# sample関数を利用するためにpandas.Series(pandasのリストオブジェクト)に変換
# sample関数によって、顧客IDをサンプリング
target = pd.Series(reserve_tb['customer_id'].unique()).sample(frac=0.5)

In [5]:
# isin関数によって、customer_idがサンプリングした顧客IDのいずれかに一致した行を抽出
reserve_tb[reserve_tb['customer_id'].isin(target)]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>reserve_id</th>
      <th>hotel_id</th>
      <th>customer_id</th>
      <th>reserve_datetime</th>
      <th>checkin_date</th>
      <th>checkin_time</th>
      <th>checkout_date</th>
      <th>people_num</th>
      <th>total_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>r1</td>
      <td>h_75</td>
      <td>c_1</td>
      <td>2016-03-06 13:09:42</td>
      <td>2016-03-26</td>
      <td>10:00:00</td>
      <td>2016-03-29</td>
      <td>4</td>
      <td>97200</td>
    </tr>
    <tr>
      <th>1</th>
      <td>r2</td>
      <td>h_219</td>
      <td>c_1</td>
      <td>2016-07-16 23:39:55</td>
      <td>2016-07-20</td>
      <td>11:30:00</td>
      <td>2016-07-21</td>
      <td>2</td>
      <td>20600</td>
    </tr>
    <tr>
      <th>2</th>
      <td>r3</td>
      <td>h_179</td>
      <td>c_1</td>
      <td>2016-09-24 10:03:17</td>
      <td>2016-10-19</td>
      <td>09:00:00</td>
      <td>2016-10-22</td>
      <td>2</td>
      <td>33600</td>
    </tr>
    <tr>
      <th>3</th>
      <td>r4</td>
      <td>h_214</td>
      <td>c_1</td>
      <td>2017-03-08 03:20:10</td>
      <td>2017-03-29</td>
      <td>11:00:00</td>
      <td>2017-03-30</td>
      <td>4</td>
      <td>194400</td>
    </tr>
    <tr>
      <th>4</th>
      <td>r5</td>
      <td>h_16</td>
      <td>c_1</td>
      <td>2017-09-05 19:50:37</td>
      <td>2017-09-22</td>
      <td>10:30:00</td>
      <td>2017-09-23</td>
      <td>3</td>
      <td>68100</td>
    </tr>
    <tr>
      <th>5</th>
      <td>r6</td>
      <td>h_241</td>
      <td>c_1</td>
      <td>2017-11-27 18:47:05</td>
      <td>2017-12-04</td>
      <td>12:00:00</td>
      <td>2017-12-06</td>
      <td>3</td>
      <td>36000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>r7</td>
      <td>h_256</td>
      <td>c_1</td>
      <td>2017-12-29 10:38:36</td>
      <td>2018-01-25</td>
      <td>10:30:00</td>
      <td>2018-01-28</td>
      <td>1</td>
      <td>103500</td>
    </tr>
    <tr>
      <th>7</th>
      <td>r8</td>
      <td>h_241</td>
      <td>c_1</td>
      <td>2018-05-26 08:42:51</td>
      <td>2018-06-08</td>
      <td>10:00:00</td>
      <td>2018-06-09</td>
      <td>1</td>
      <td>6000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>r9</td>
      <td>h_217</td>
      <td>c_2</td>
      <td>2016-03-05 13:31:06</td>
      <td>2016-03-25</td>
      <td>09:30:00</td>
      <td>2016-03-27</td>
      <td>3</td>
      <td>68400</td>
    </tr>
    <tr>
      <th>9</th>
      <td>r10</td>
      <td>h_240</td>
      <td>c_2</td>
      <td>2016-06-25 09:12:22</td>
      <td>2016-07-14</td>
      <td>11:00:00</td>
      <td>2016-07-17</td>
      <td>4</td>
      <td>320400</td>
    </tr>
    <tr>
      <th>10</th>
      <td>r11</td>
      <td>h_183</td>
      <td>c_2</td>
      <td>2016-11-19 12:49:10</td>
      <td>2016-12-08</td>
      <td>11:00:00</td>
      <td>2016-12-11</td>
      <td>1</td>
      <td>29700</td>
    </tr>
    <tr>
      <th>11</th>
      <td>r12</td>
      <td>h_268</td>
      <td>c_2</td>
      <td>2017-05-24 10:06:21</td>
      <td>2017-06-20</td>
      <td>09:00:00</td>
      <td>2017-06-21</td>
      <td>4</td>
      <td>81600</td>
    </tr>
    <tr>
      <th>12</th>
      <td>r13</td>
      <td>h_223</td>
      <td>c_2</td>
      <td>2017-10-19 03:03:30</td>
      <td>2017-10-21</td>
      <td>09:30:00</td>
      <td>2017-10-23</td>
      <td>1</td>
      <td>137000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>r14</td>
      <td>h_133</td>
      <td>c_2</td>
      <td>2018-02-18 05:12:58</td>
      <td>2018-03-12</td>
      <td>10:00:00</td>
      <td>2018-03-15</td>
      <td>2</td>
      <td>75600</td>
    </tr>
    <tr>
      <th>14</th>
      <td>r15</td>
      <td>h_92</td>
      <td>c_2</td>
      <td>2018-04-19 11:25:00</td>
      <td>2018-05-04</td>
      <td>12:30:00</td>
      <td>2018-05-05</td>
      <td>2</td>
      <td>68800</td>
    </tr>
    <tr>
      <th>15</th>
      <td>r16</td>
      <td>h_135</td>
      <td>c_2</td>
      <td>2018-07-06 04:18:28</td>
      <td>2018-07-08</td>
      <td>10:00:00</td>
      <td>2018-07-09</td>
      <td>4</td>
      <td>46400</td>
    </tr>
    <tr>
      <th>36</th>
      <td>r37</td>
      <td>h_226</td>
      <td>c_6</td>
      <td>2016-06-14 11:14:05</td>
      <td>2016-06-28</td>
      <td>11:30:00</td>
      <td>2016-07-01</td>
      <td>3</td>
      <td>86400</td>
    </tr>
    <tr>
      <th>37</th>
      <td>r38</td>
      <td>h_199</td>
      <td>c_6</td>
      <td>2016-08-14 08:19:10</td>
      <td>2016-09-01</td>
      <td>12:30:00</td>
      <td>2016-09-02</td>
      <td>4</td>
      <td>72800</td>
    </tr>
    <tr>
      <th>38</th>
      <td>r39</td>
      <td>h_232</td>
      <td>c_7</td>
      <td>2016-03-21 16:14:52</td>
      <td>2016-04-10</td>
      <td>10:00:00</td>
      <td>2016-04-11</td>
      <td>2</td>
      <td>57000</td>
    </tr>
    <tr>
      <th>39</th>
      <td>r40</td>
      <td>h_102</td>
      <td>c_7</td>
      <td>2016-09-01 01:19:57</td>
      <td>2016-09-17</td>
      <td>11:30:00</td>
      <td>2016-09-18</td>
      <td>3</td>
      <td>18000</td>
    </tr>
    <tr>
      <th>40</th>
      <td>r41</td>
      <td>h_23</td>
      <td>c_7</td>
      <td>2016-10-14 02:41:13</td>
      <td>2016-10-15</td>
      <td>12:00:00</td>
      <td>2016-10-16</td>
      <td>2</td>
      <td>130200</td>
    </tr>
    <tr>
      <th>41</th>
      <td>r42</td>
      <td>h_63</td>
      <td>c_7</td>
      <td>2016-11-11 12:42:32</td>
      <td>2016-11-26</td>
      <td>09:00:00</td>
      <td>2016-11-29</td>
      <td>1</td>
      <td>44700</td>
    </tr>
    <tr>
      <th>42</th>
      <td>r43</td>
      <td>h_224</td>
      <td>c_7</td>
      <td>2017-04-22 20:03:46</td>
      <td>2017-05-22</td>
      <td>11:00:00</td>
      <td>2017-05-25</td>
      <td>3</td>
      <td>36000</td>
    </tr>
    <tr>
      <th>43</th>
      <td>r44</td>
      <td>h_145</td>
      <td>c_7</td>
      <td>2017-06-23 23:56:10</td>
      <td>2017-07-18</td>
      <td>09:30:00</td>
      <td>2017-07-21</td>
      <td>2</td>
      <td>112800</td>
    </tr>
    <tr>
      <th>44</th>
      <td>r45</td>
      <td>h_104</td>
      <td>c_7</td>
      <td>2017-09-28 11:44:02</td>
      <td>2017-10-05</td>
      <td>09:00:00</td>
      <td>2017-10-07</td>
      <td>1</td>
      <td>84400</td>
    </tr>
    <tr>
      <th>45</th>
      <td>r46</td>
      <td>h_146</td>
      <td>c_8</td>
      <td>2016-04-01 10:44:33</td>
      <td>2016-04-02</td>
      <td>09:30:00</td>
      <td>2016-04-05</td>
      <td>3</td>
      <td>383400</td>
    </tr>
    <tr>
      <th>46</th>
      <td>r47</td>
      <td>h_56</td>
      <td>c_8</td>
      <td>2016-06-15 07:00:28</td>
      <td>2016-07-02</td>
      <td>10:00:00</td>
      <td>2016-07-05</td>
      <td>3</td>
      <td>287100</td>
    </tr>
    <tr>
      <th>47</th>
      <td>r48</td>
      <td>h_299</td>
      <td>c_8</td>
      <td>2016-10-05 08:53:39</td>
      <td>2016-10-14</td>
      <td>09:30:00</td>
      <td>2016-10-16</td>
      <td>1</td>
      <td>48400</td>
    </tr>
    <tr>
      <th>48</th>
      <td>r49</td>
      <td>h_183</td>
      <td>c_8</td>
      <td>2017-01-25 00:25:04</td>
      <td>2017-02-14</td>
      <td>12:30:00</td>
      <td>2017-02-17</td>
      <td>1</td>
      <td>29700</td>
    </tr>
    <tr>
      <th>49</th>
      <td>r50</td>
      <td>h_176</td>
      <td>c_8</td>
      <td>2017-06-12 10:21:33</td>
      <td>2017-07-01</td>
      <td>11:00:00</td>
      <td>2017-07-02</td>
      <td>4</td>
      <td>69600</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>3981</th>
      <td>r3982</td>
      <td>h_132</td>
      <td>c_988</td>
      <td>2017-04-19 12:57:04</td>
      <td>2017-04-30</td>
      <td>11:30:00</td>
      <td>2017-05-01</td>
      <td>2</td>
      <td>40800</td>
    </tr>
    <tr>
      <th>3982</th>
      <td>r3983</td>
      <td>h_233</td>
      <td>c_988</td>
      <td>2017-09-26 15:31:19</td>
      <td>2017-10-02</td>
      <td>10:00:00</td>
      <td>2017-10-05</td>
      <td>1</td>
      <td>26700</td>
    </tr>
    <tr>
      <th>3983</th>
      <td>r3984</td>
      <td>h_291</td>
      <td>c_988</td>
      <td>2017-12-07 10:19:12</td>
      <td>2017-12-16</td>
      <td>10:00:00</td>
      <td>2017-12-19</td>
      <td>1</td>
      <td>100500</td>
    </tr>
    <tr>
      <th>3984</th>
      <td>r3985</td>
      <td>h_261</td>
      <td>c_988</td>
      <td>2018-02-07 22:44:53</td>
      <td>2018-02-17</td>
      <td>09:00:00</td>
      <td>2018-02-19</td>
      <td>3</td>
      <td>61800</td>
    </tr>
    <tr>
      <th>3985</th>
      <td>r3986</td>
      <td>h_224</td>
      <td>c_988</td>
      <td>2018-06-11 01:07:30</td>
      <td>2018-06-17</td>
      <td>09:30:00</td>
      <td>2018-06-19</td>
      <td>3</td>
      <td>24000</td>
    </tr>
    <tr>
      <th>3986</th>
      <td>r3987</td>
      <td>h_118</td>
      <td>c_989</td>
      <td>2016-01-20 08:45:39</td>
      <td>2016-02-18</td>
      <td>09:30:00</td>
      <td>2016-02-20</td>
      <td>3</td>
      <td>64800</td>
    </tr>
    <tr>
      <th>3987</th>
      <td>r3988</td>
      <td>h_186</td>
      <td>c_989</td>
      <td>2016-06-28 05:21:07</td>
      <td>2016-07-16</td>
      <td>12:00:00</td>
      <td>2016-07-18</td>
      <td>4</td>
      <td>60800</td>
    </tr>
    <tr>
      <th>3991</th>
      <td>r3992</td>
      <td>h_241</td>
      <td>c_992</td>
      <td>2016-04-06 07:58:32</td>
      <td>2016-04-16</td>
      <td>12:30:00</td>
      <td>2016-04-17</td>
      <td>1</td>
      <td>6000</td>
    </tr>
    <tr>
      <th>3992</th>
      <td>r3993</td>
      <td>h_170</td>
      <td>c_992</td>
      <td>2016-05-19 15:27:07</td>
      <td>2016-06-06</td>
      <td>11:00:00</td>
      <td>2016-06-08</td>
      <td>4</td>
      <td>197600</td>
    </tr>
    <tr>
      <th>3993</th>
      <td>r3994</td>
      <td>h_239</td>
      <td>c_992</td>
      <td>2016-06-30 09:11:47</td>
      <td>2016-07-29</td>
      <td>09:30:00</td>
      <td>2016-07-31</td>
      <td>4</td>
      <td>452000</td>
    </tr>
    <tr>
      <th>3994</th>
      <td>r3995</td>
      <td>h_278</td>
      <td>c_992</td>
      <td>2016-11-30 23:07:57</td>
      <td>2016-12-01</td>
      <td>12:00:00</td>
      <td>2016-12-02</td>
      <td>3</td>
      <td>31800</td>
    </tr>
    <tr>
      <th>3995</th>
      <td>r3996</td>
      <td>h_208</td>
      <td>c_992</td>
      <td>2017-01-10 10:15:59</td>
      <td>2017-01-15</td>
      <td>12:30:00</td>
      <td>2017-01-17</td>
      <td>4</td>
      <td>71200</td>
    </tr>
    <tr>
      <th>3996</th>
      <td>r3997</td>
      <td>h_143</td>
      <td>c_992</td>
      <td>2017-02-23 09:24:00</td>
      <td>2017-03-03</td>
      <td>09:00:00</td>
      <td>2017-03-05</td>
      <td>1</td>
      <td>39600</td>
    </tr>
    <tr>
      <th>4004</th>
      <td>r4005</td>
      <td>h_150</td>
      <td>c_994</td>
      <td>2016-03-25 11:51:26</td>
      <td>2016-04-02</td>
      <td>09:00:00</td>
      <td>2016-04-03</td>
      <td>1</td>
      <td>25200</td>
    </tr>
    <tr>
      <th>4005</th>
      <td>r4006</td>
      <td>h_290</td>
      <td>c_995</td>
      <td>2016-05-14 21:35:27</td>
      <td>2016-06-12</td>
      <td>10:00:00</td>
      <td>2016-06-15</td>
      <td>4</td>
      <td>190800</td>
    </tr>
    <tr>
      <th>4006</th>
      <td>r4007</td>
      <td>h_76</td>
      <td>c_995</td>
      <td>2016-07-11 06:45:26</td>
      <td>2016-07-31</td>
      <td>10:30:00</td>
      <td>2016-08-03</td>
      <td>4</td>
      <td>110400</td>
    </tr>
    <tr>
      <th>4007</th>
      <td>r4008</td>
      <td>h_52</td>
      <td>c_995</td>
      <td>2016-11-02 06:42:54</td>
      <td>2016-11-27</td>
      <td>12:00:00</td>
      <td>2016-11-28</td>
      <td>3</td>
      <td>81300</td>
    </tr>
    <tr>
      <th>4008</th>
      <td>r4009</td>
      <td>h_213</td>
      <td>c_995</td>
      <td>2016-12-10 19:23:02</td>
      <td>2016-12-24</td>
      <td>12:00:00</td>
      <td>2016-12-25</td>
      <td>4</td>
      <td>20800</td>
    </tr>
    <tr>
      <th>4009</th>
      <td>r4010</td>
      <td>h_84</td>
      <td>c_995</td>
      <td>2017-02-04 02:00:05</td>
      <td>2017-03-01</td>
      <td>10:00:00</td>
      <td>2017-03-04</td>
      <td>2</td>
      <td>146400</td>
    </tr>
    <tr>
      <th>4010</th>
      <td>r4011</td>
      <td>h_137</td>
      <td>c_995</td>
      <td>2017-08-13 19:23:48</td>
      <td>2017-09-07</td>
      <td>09:30:00</td>
      <td>2017-09-09</td>
      <td>1</td>
      <td>12400</td>
    </tr>
    <tr>
      <th>4011</th>
      <td>r4012</td>
      <td>h_54</td>
      <td>c_995</td>
      <td>2018-03-08 03:54:07</td>
      <td>2018-03-20</td>
      <td>10:30:00</td>
      <td>2018-03-22</td>
      <td>1</td>
      <td>25600</td>
    </tr>
    <tr>
      <th>4012</th>
      <td>r4013</td>
      <td>h_13</td>
      <td>c_995</td>
      <td>2018-07-04 18:54:55</td>
      <td>2018-07-04</td>
      <td>11:00:00</td>
      <td>2018-07-05</td>
      <td>2</td>
      <td>9400</td>
    </tr>
    <tr>
      <th>4020</th>
      <td>r4021</td>
      <td>h_159</td>
      <td>c_997</td>
      <td>2016-01-08 20:30:10</td>
      <td>2016-01-09</td>
      <td>12:00:00</td>
      <td>2016-01-11</td>
      <td>2</td>
      <td>258800</td>
    </tr>
    <tr>
      <th>4021</th>
      <td>r4022</td>
      <td>h_172</td>
      <td>c_997</td>
      <td>2016-05-13 09:08:55</td>
      <td>2016-06-06</td>
      <td>09:30:00</td>
      <td>2016-06-08</td>
      <td>3</td>
      <td>96000</td>
    </tr>
    <tr>
      <th>4022</th>
      <td>r4023</td>
      <td>h_4</td>
      <td>c_999</td>
      <td>2016-04-21 21:50:14</td>
      <td>2016-04-22</td>
      <td>12:00:00</td>
      <td>2016-04-25</td>
      <td>4</td>
      <td>62400</td>
    </tr>
    <tr>
      <th>4023</th>
      <td>r4024</td>
      <td>h_244</td>
      <td>c_999</td>
      <td>2016-10-06 18:01:34</td>
      <td>2016-10-07</td>
      <td>11:30:00</td>
      <td>2016-10-09</td>
      <td>3</td>
      <td>59400</td>
    </tr>
    <tr>
      <th>4024</th>
      <td>r4025</td>
      <td>h_160</td>
      <td>c_999</td>
      <td>2017-03-11 11:56:05</td>
      <td>2017-03-27</td>
      <td>10:00:00</td>
      <td>2017-03-30</td>
      <td>1</td>
      <td>37200</td>
    </tr>
    <tr>
      <th>4025</th>
      <td>r4026</td>
      <td>h_129</td>
      <td>c_999</td>
      <td>2017-06-27 23:00:02</td>
      <td>2017-07-10</td>
      <td>09:30:00</td>
      <td>2017-07-11</td>
      <td>2</td>
      <td>16000</td>
    </tr>
    <tr>
      <th>4026</th>
      <td>r4027</td>
      <td>h_97</td>
      <td>c_999</td>
      <td>2017-09-29 05:24:57</td>
      <td>2017-10-09</td>
      <td>10:30:00</td>
      <td>2017-10-10</td>
      <td>2</td>
      <td>41800</td>
    </tr>
    <tr>
      <th>4027</th>
      <td>r4028</td>
      <td>h_27</td>
      <td>c_999</td>
      <td>2018-03-14 05:01:45</td>
      <td>2018-04-02</td>
      <td>11:30:00</td>
      <td>2018-04-04</td>
      <td>2</td>
      <td>74800</td>
    </tr>
  </tbody>
</table>
<p>2004 rows × 9 columns</p>
</div>