In [1]:
from preprocess.load_data.data_loader import load_hotel_reserve

In [2]:
customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

In [3]:
# ä¸‹ã®è¡Œã‹ã‚‰æœ¬æ›¸ã‚¹ã‚¿ãƒ¼ãƒˆ
# reserve_tbã‹ã‚‰50%ã‚µãƒ³ãƒ—ãƒªãƒ³ã‚°
reserve_tb.sample(frac=0.5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>reserve_id</th>
      <th>hotel_id</th>
      <th>customer_id</th>
      <th>reserve_datetime</th>
      <th>checkin_date</th>
      <th>checkin_time</th>
      <th>checkout_date</th>
      <th>people_num</th>
      <th>total_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>29</th>
      <td>r30</td>
      <td>h_34</td>
      <td>c_4</td>
      <td>2017-03-14 23:02:05</td>
      <td>2017-03-14</td>
      <td>11:30:00</td>
      <td>2017-03-17</td>
      <td>2</td>
      <td>51000</td>
    </tr>
    <tr>
      <th>821</th>
      <td>r822</td>
      <td>h_268</td>
      <td>c_200</td>
      <td>2017-05-18 18:45:38</td>
      <td>2017-06-08</td>
      <td>11:30:00</td>
      <td>2017-06-10</td>
      <td>1</td>
      <td>40800</td>
    </tr>
    <tr>
      <th>1899</th>
      <td>r1900</td>
      <td>h_38</td>
      <td>c_469</td>
      <td>2016-06-26 16:10:43</td>
      <td>2016-07-21</td>
      <td>09:30:00</td>
      <td>2016-07-24</td>
      <td>1</td>
      <td>168000</td>
    </tr>
    <tr>
      <th>986</th>
      <td>r987</td>
      <td>h_10</td>
      <td>c_242</td>
      <td>2016-11-05 00:12:51</td>
      <td>2016-11-09</td>
      <td>10:00:00</td>
      <td>2016-11-12</td>
      <td>4</td>
      <td>67200</td>
    </tr>
    <tr>
      <th>483</th>
      <td>r484</td>
      <td>h_163</td>
      <td>c_112</td>
      <td>2016-04-11 04:31:56</td>
      <td>2016-05-05</td>
      <td>09:00:00</td>
      <td>2016-05-07</td>
      <td>4</td>
      <td>171200</td>
    </tr>
    <tr>
      <th>3191</th>
      <td>r3192</td>
      <td>h_18</td>
      <td>c_803</td>
      <td>2016-10-17 20:35:16</td>
      <td>2016-11-02</td>
      <td>10:00:00</td>
      <td>2016-11-05</td>
      <td>2</td>
      <td>166800</td>
    </tr>
    <tr>
      <th>2909</th>
      <td>r2910</td>
      <td>h_206</td>
      <td>c_732</td>
      <td>2017-10-16 17:33:01</td>
      <td>2017-11-06</td>
      <td>10:00:00</td>
      <td>2017-11-07</td>
      <td>1</td>
      <td>24200</td>
    </tr>
    <tr>
      <th>2749</th>
      <td>r2750</td>
      <td>h_19</td>
      <td>c_694</td>
      <td>2016-05-04 00:19:46</td>
      <td>2016-05-22</td>
      <td>10:00:00</td>
      <td>2016-05-24</td>
      <td>3</td>
      <td>72000</td>
    </tr>
    <tr>
      <th>697</th>
      <td>r698</td>
      <td>h_15</td>
      <td>c_171</td>
      <td>2016-05-18 04:05:34</td>
      <td>2016-05-28</td>
      <td>11:00:00</td>
      <td>2016-05-29</td>
      <td>1</td>
      <td>4300</td>
    </tr>
    <tr>
      <th>2248</th>
      <td>r2249</td>
      <td>h_72</td>
      <td>c_561</td>
      <td>2017-12-27 04:13:09</td>
      <td>2018-01-04</td>
      <td>09:30:00</td>
      <td>2018-01-05</td>
      <td>2</td>
      <td>19400</td>
    </tr>
    <tr>
      <th>1789</th>
      <td>r1790</td>
      <td>h_132</td>
      <td>c_443</td>
      <td>2017-05-18 23:27:23</td>
      <td>2017-06-09</td>
      <td>09:00:00</td>
      <td>2017-06-11</td>
      <td>2</td>
      <td>81600</td>
    </tr>
    <tr>
      <th>941</th>
      <td>r942</td>
      <td>h_166</td>
      <td>c_233</td>
      <td>2016-01-13 21:56:09</td>
      <td>2016-01-19</td>
      <td>11:30:00</td>
      <td>2016-01-21</td>
      <td>4</td>
      <td>132800</td>
    </tr>
    <tr>
      <th>315</th>
      <td>r316</td>
      <td>h_64</td>
      <td>c_75</td>
      <td>2016-02-16 06:49:35</td>
      <td>2016-02-28</td>
      <td>11:30:00</td>
      <td>2016-02-29</td>
      <td>3</td>
      <td>48000</td>
    </tr>
    <tr>
      <th>952</th>
      <td>r953</td>
      <td>h_221</td>
      <td>c_235</td>
      <td>2017-06-08 18:30:20</td>
      <td>2017-06-11</td>
      <td>10:30:00</td>
      <td>2017-06-12</td>
      <td>4</td>
      <td>22000</td>
    </tr>
    <tr>
      <th>1526</th>
      <td>r1527</td>
      <td>h_250</td>
      <td>c_374</td>
      <td>2016-06-06 11:14:18</td>
      <td>2016-06-09</td>
      <td>11:00:00</td>
      <td>2016-06-12</td>
      <td>4</td>
      <td>309600</td>
    </tr>
    <tr>
      <th>3352</th>
      <td>r3353</td>
      <td>h_24</td>
      <td>c_838</td>
      <td>2016-11-01 13:52:54</td>
      <td>2016-11-03</td>
      <td>10:30:00</td>
      <td>2016-11-06</td>
      <td>4</td>
      <td>55200</td>
    </tr>
    <tr>
      <th>1992</th>
      <td>r1993</td>
      <td>h_108</td>
      <td>c_501</td>
      <td>2016-10-20 17:22:11</td>
      <td>2016-10-20</td>
      <td>09:30:00</td>
      <td>2016-10-22</td>
      <td>2</td>
      <td>34400</td>
    </tr>
    <tr>
      <th>399</th>
      <td>r400</td>
      <td>h_41</td>
      <td>c_92</td>
      <td>2016-11-22 06:23:43</td>
      <td>2016-11-26</td>
      <td>09:00:00</td>
      <td>2016-11-29</td>
      <td>3</td>
      <td>35100</td>
    </tr>
    <tr>
      <th>1619</th>
      <td>r1620</td>
      <td>h_152</td>
      <td>c_396</td>
      <td>2016-08-21 01:19:49</td>
      <td>2016-09-12</td>
      <td>12:30:00</td>
      <td>2016-09-15</td>
      <td>1</td>
      <td>50700</td>
    </tr>
    <tr>
      <th>1703</th>
      <td>r1704</td>
      <td>h_119</td>
      <td>c_421</td>
      <td>2017-04-09 18:01:19</td>
      <td>2017-04-24</td>
      <td>10:30:00</td>
      <td>2017-04-26</td>
      <td>4</td>
      <td>52800</td>
    </tr>
    <tr>
      <th>1954</th>
      <td>r1955</td>
      <td>h_35</td>
      <td>c_483</td>
      <td>2017-04-16 21:56:21</td>
      <td>2017-04-29</td>
      <td>11:00:00</td>
      <td>2017-05-01</td>
      <td>2</td>
      <td>14000</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>r2015</td>
      <td>h_73</td>
      <td>c_507</td>
      <td>2016-05-02 17:12:31</td>
      <td>2016-05-03</td>
      <td>11:00:00</td>
      <td>2016-05-06</td>
      <td>2</td>
      <td>119400</td>
    </tr>
    <tr>
      <th>591</th>
      <td>r592</td>
      <td>h_198</td>
      <td>c_144</td>
      <td>2016-04-28 08:41:21</td>
      <td>2016-05-25</td>
      <td>09:00:00</td>
      <td>2016-05-28</td>
      <td>2</td>
      <td>115800</td>
    </tr>
    <tr>
      <th>1471</th>
      <td>r1472</td>
      <td>h_117</td>
      <td>c_361</td>
      <td>2016-07-15 17:41:49</td>
      <td>2016-08-05</td>
      <td>11:00:00</td>
      <td>2016-08-08</td>
      <td>4</td>
      <td>176400</td>
    </tr>
    <tr>
      <th>1054</th>
      <td>r1055</td>
      <td>h_215</td>
      <td>c_257</td>
      <td>2017-09-23 04:51:56</td>
      <td>2017-09-23</td>
      <td>09:00:00</td>
      <td>2017-09-26</td>
      <td>1</td>
      <td>46200</td>
    </tr>
    <tr>
      <th>579</th>
      <td>r580</td>
      <td>h_129</td>
      <td>c_140</td>
      <td>2016-05-14 14:15:48</td>
      <td>2016-05-20</td>
      <td>11:00:00</td>
      <td>2016-05-21</td>
      <td>3</td>
      <td>24000</td>
    </tr>
    <tr>
      <th>3357</th>
      <td>r3358</td>
      <td>h_230</td>
      <td>c_839</td>
      <td>2016-08-14 00:14:00</td>
      <td>2016-09-10</td>
      <td>09:00:00</td>
      <td>2016-09-12</td>
      <td>4</td>
      <td>139200</td>
    </tr>
    <tr>
      <th>2319</th>
      <td>r2320</td>
      <td>h_3</td>
      <td>c_579</td>
      <td>2016-12-24 20:39:46</td>
      <td>2016-12-24</td>
      <td>09:00:00</td>
      <td>2016-12-27</td>
      <td>1</td>
      <td>123900</td>
    </tr>
    <tr>
      <th>2895</th>
      <td>r2896</td>
      <td>h_160</td>
      <td>c_730</td>
      <td>2016-05-07 09:46:04</td>
      <td>2016-05-19</td>
      <td>12:30:00</td>
      <td>2016-05-20</td>
      <td>4</td>
      <td>49600</td>
    </tr>
    <tr>
      <th>3607</th>
      <td>r3608</td>
      <td>h_14</td>
      <td>c_900</td>
      <td>2017-03-30 12:10:51</td>
      <td>2017-04-03</td>
      <td>12:00:00</td>
      <td>2017-04-05</td>
      <td>3</td>
      <td>46200</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2345</th>
      <td>r2346</td>
      <td>h_194</td>
      <td>c_588</td>
      <td>2017-06-25 01:42:06</td>
      <td>2017-07-25</td>
      <td>11:30:00</td>
      <td>2017-07-27</td>
      <td>2</td>
      <td>39600</td>
    </tr>
    <tr>
      <th>745</th>
      <td>r746</td>
      <td>h_102</td>
      <td>c_180</td>
      <td>2016-11-20 10:09:20</td>
      <td>2016-11-20</td>
      <td>10:00:00</td>
      <td>2016-11-23</td>
      <td>3</td>
      <td>54000</td>
    </tr>
    <tr>
      <th>3839</th>
      <td>r3840</td>
      <td>h_110</td>
      <td>c_956</td>
      <td>2018-01-31 11:05:49</td>
      <td>2018-02-11</td>
      <td>11:00:00</td>
      <td>2018-02-13</td>
      <td>3</td>
      <td>158400</td>
    </tr>
    <tr>
      <th>2803</th>
      <td>r2804</td>
      <td>h_251</td>
      <td>c_706</td>
      <td>2017-08-21 11:08:32</td>
      <td>2017-09-10</td>
      <td>10:00:00</td>
      <td>2017-09-11</td>
      <td>4</td>
      <td>22800</td>
    </tr>
    <tr>
      <th>3262</th>
      <td>r3263</td>
      <td>h_187</td>
      <td>c_822</td>
      <td>2016-01-05 13:33:00</td>
      <td>2016-02-01</td>
      <td>11:00:00</td>
      <td>2016-02-02</td>
      <td>3</td>
      <td>54900</td>
    </tr>
    <tr>
      <th>985</th>
      <td>r986</td>
      <td>h_117</td>
      <td>c_242</td>
      <td>2016-04-13 13:40:41</td>
      <td>2016-05-06</td>
      <td>11:30:00</td>
      <td>2016-05-09</td>
      <td>3</td>
      <td>132300</td>
    </tr>
    <tr>
      <th>2669</th>
      <td>r2670</td>
      <td>h_68</td>
      <td>c_672</td>
      <td>2017-05-07 13:17:34</td>
      <td>2017-05-21</td>
      <td>09:30:00</td>
      <td>2017-05-24</td>
      <td>2</td>
      <td>51600</td>
    </tr>
    <tr>
      <th>2776</th>
      <td>r2777</td>
      <td>h_115</td>
      <td>c_700</td>
      <td>2016-12-16 07:56:36</td>
      <td>2017-01-13</td>
      <td>12:00:00</td>
      <td>2017-01-15</td>
      <td>3</td>
      <td>246000</td>
    </tr>
    <tr>
      <th>990</th>
      <td>r991</td>
      <td>h_180</td>
      <td>c_242</td>
      <td>2017-12-07 23:47:10</td>
      <td>2017-12-14</td>
      <td>11:00:00</td>
      <td>2017-12-17</td>
      <td>2</td>
      <td>327000</td>
    </tr>
    <tr>
      <th>2029</th>
      <td>r2030</td>
      <td>h_96</td>
      <td>c_512</td>
      <td>2017-01-10 02:28:47</td>
      <td>2017-02-05</td>
      <td>12:00:00</td>
      <td>2017-02-06</td>
      <td>4</td>
      <td>29600</td>
    </tr>
    <tr>
      <th>3794</th>
      <td>r3795</td>
      <td>h_88</td>
      <td>c_945</td>
      <td>2017-03-10 22:07:14</td>
      <td>2017-04-03</td>
      <td>12:30:00</td>
      <td>2017-04-05</td>
      <td>3</td>
      <td>145800</td>
    </tr>
    <tr>
      <th>3698</th>
      <td>r3699</td>
      <td>h_95</td>
      <td>c_919</td>
      <td>2018-09-19 15:25:10</td>
      <td>2018-10-15</td>
      <td>10:00:00</td>
      <td>2018-10-18</td>
      <td>4</td>
      <td>518400</td>
    </tr>
    <tr>
      <th>3337</th>
      <td>r3338</td>
      <td>h_28</td>
      <td>c_835</td>
      <td>2017-03-18 23:18:30</td>
      <td>2017-04-05</td>
      <td>12:30:00</td>
      <td>2017-04-07</td>
      <td>1</td>
      <td>11400</td>
    </tr>
    <tr>
      <th>3325</th>
      <td>r3326</td>
      <td>h_56</td>
      <td>c_833</td>
      <td>2016-08-02 20:46:50</td>
      <td>2016-08-27</td>
      <td>12:00:00</td>
      <td>2016-08-28</td>
      <td>2</td>
      <td>63800</td>
    </tr>
    <tr>
      <th>358</th>
      <td>r359</td>
      <td>h_217</td>
      <td>c_83</td>
      <td>2017-08-12 01:14:33</td>
      <td>2017-08-21</td>
      <td>11:30:00</td>
      <td>2017-08-23</td>
      <td>3</td>
      <td>68400</td>
    </tr>
    <tr>
      <th>52</th>
      <td>r53</td>
      <td>h_149</td>
      <td>c_8</td>
      <td>2018-05-08 10:44:17</td>
      <td>2018-05-12</td>
      <td>12:00:00</td>
      <td>2018-05-13</td>
      <td>3</td>
      <td>76800</td>
    </tr>
    <tr>
      <th>2379</th>
      <td>r2380</td>
      <td>h_51</td>
      <td>c_599</td>
      <td>2016-08-20 17:23:49</td>
      <td>2016-09-16</td>
      <td>10:30:00</td>
      <td>2016-09-17</td>
      <td>3</td>
      <td>40200</td>
    </tr>
    <tr>
      <th>1347</th>
      <td>r1348</td>
      <td>h_51</td>
      <td>c_328</td>
      <td>2018-01-24 10:32:02</td>
      <td>2018-02-16</td>
      <td>11:30:00</td>
      <td>2018-02-18</td>
      <td>4</td>
      <td>107200</td>
    </tr>
    <tr>
      <th>148</th>
      <td>r149</td>
      <td>h_81</td>
      <td>c_31</td>
      <td>2016-08-25 05:32:05</td>
      <td>2016-09-01</td>
      <td>11:00:00</td>
      <td>2016-09-02</td>
      <td>1</td>
      <td>12400</td>
    </tr>
    <tr>
      <th>2410</th>
      <td>r2411</td>
      <td>h_280</td>
      <td>c_603</td>
      <td>2017-03-12 17:26:07</td>
      <td>2017-03-16</td>
      <td>09:30:00</td>
      <td>2017-03-19</td>
      <td>2</td>
      <td>37800</td>
    </tr>
    <tr>
      <th>3843</th>
      <td>r3844</td>
      <td>h_181</td>
      <td>c_957</td>
      <td>2017-03-06 05:04:11</td>
      <td>2017-03-12</td>
      <td>11:00:00</td>
      <td>2017-03-13</td>
      <td>2</td>
      <td>16800</td>
    </tr>
    <tr>
      <th>54</th>
      <td>r55</td>
      <td>h_55</td>
      <td>c_9</td>
      <td>2016-07-05 05:39:25</td>
      <td>2016-07-21</td>
      <td>11:30:00</td>
      <td>2016-07-22</td>
      <td>2</td>
      <td>28400</td>
    </tr>
    <tr>
      <th>2837</th>
      <td>r2838</td>
      <td>h_167</td>
      <td>c_714</td>
      <td>2017-04-03 01:20:44</td>
      <td>2017-04-08</td>
      <td>11:00:00</td>
      <td>2017-04-09</td>
      <td>4</td>
      <td>111600</td>
    </tr>
    <tr>
      <th>2202</th>
      <td>r2203</td>
      <td>h_256</td>
      <td>c_549</td>
      <td>2016-04-03 22:07:05</td>
      <td>2016-04-25</td>
      <td>10:30:00</td>
      <td>2016-04-26</td>
      <td>4</td>
      <td>138000</td>
    </tr>
    <tr>
      <th>473</th>
      <td>r474</td>
      <td>h_42</td>
      <td>c_108</td>
      <td>2018-05-13 20:49:36</td>
      <td>2018-06-02</td>
      <td>12:30:00</td>
      <td>2018-06-05</td>
      <td>1</td>
      <td>33900</td>
    </tr>
    <tr>
      <th>1904</th>
      <td>r1905</td>
      <td>h_34</td>
      <td>c_470</td>
      <td>2016-07-12 12:16:26</td>
      <td>2016-08-03</td>
      <td>09:30:00</td>
      <td>2016-08-04</td>
      <td>2</td>
      <td>17000</td>
    </tr>
    <tr>
      <th>2638</th>
      <td>r2639</td>
      <td>h_90</td>
      <td>c_663</td>
      <td>2016-08-05 08:43:39</td>
      <td>2016-08-17</td>
      <td>12:30:00</td>
      <td>2016-08-20</td>
      <td>1</td>
      <td>24000</td>
    </tr>
    <tr>
      <th>3287</th>
      <td>r3288</td>
      <td>h_231</td>
      <td>c_826</td>
      <td>2016-03-22 22:16:40</td>
      <td>2016-04-14</td>
      <td>10:30:00</td>
      <td>2016-04-17</td>
      <td>2</td>
      <td>87600</td>
    </tr>
    <tr>
      <th>292</th>
      <td>r293</td>
      <td>h_96</td>
      <td>c_69</td>
      <td>2016-07-23 12:29:01</td>
      <td>2016-08-11</td>
      <td>11:30:00</td>
      <td>2016-08-13</td>
      <td>2</td>
      <td>29600</td>
    </tr>
    <tr>
      <th>504</th>
      <td>r505</td>
      <td>h_56</td>
      <td>c_119</td>
      <td>2016-08-23 23:29:14</td>
      <td>2016-09-02</td>
      <td>10:00:00</td>
      <td>2016-09-05</td>
      <td>4</td>
      <td>382800</td>
    </tr>
  </tbody>
</table>
<p>2015 rows Ã— 9 columns</p>
</div>